@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto&family=Roboto+Slab&family=Source+Sans+3&family=Stylish&family=Sulphur+Point&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html,body {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.02);
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.header {
    padding : 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    background-color: #CCCCCC;
}

.content {
    margin-top: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 51px 32px;
}

.header .actions {
    display: flex;
    color: white;
    gap: 32px;
}

a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: white;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
}

.product-card {
    cursor: pointer;
    opacity: 0.8;
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-card .product-name {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.product-card .product-description {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    margin-bottom: 12px;
}

.product-card .product-price {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #050505;

}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.basket {
    display: none;
}

.info {
    display: none;
}

.action-product {
    display: none;
}

.action-product svg {
    height: 20px;
    width: 20px;
}


.product-card:hover {
    opacity: 1;
    transform: scale(1.1);

    .action-product {
        top: 6px;
        right: 8px;
        position: absolute;
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 10px;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    position: relative;
}

.sort-button {
    background-color: white;
    width: fit-content;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 18px;
}

.basket-sort {
    white-space: nowrap;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 27px;
}

.basket-container {
    margin-top: 32px;
    gap: 33px;
    width: 85%;
    display: flex;
}

.product-basket {
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    border-top: 1px solid #CACDD8;
    margin-top: 14px;
}

.product-basket .product-count {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 71px;
    height: 51px;
    color: #050505;
    border-radius: 6px;
    background: #F7F6F6;
}

.product-basket .product-count .arrows {
    color: #CACDD8;
    cursor: pointer;
}

.submit-form {
    flex: 1;
    background: rgb(251, 237, 237);
    height: 566px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.products-header {
    display: flex;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    margin-right: 27px;
}

.products-container {
    width: 65%;
}

.product-image {
    width: 173px;
    margin-right: 31px;
    object-fit: cover;
    height: 173px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-info .product-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
}

.product-info .product-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #888888;
}

.product-info .product-price {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #050505;
}

.product-info .product-remove {
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-decoration: underline;
    cursor: pointer;
}

.container {
    display: flex;
}

.submit-form form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit-form form input:focus {
    border-bottom: 2px solid red;
}

.submit-form form input, .submit-form form input::placeholder {
    transition: 2s all;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    background-color: transparent;
    border-bottom: 2px solid #CACDD8;
    width: 288px;
    margin-bottom: 41px;
    color: #050505;
}

.submit-form .form-header {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 35px;
}

.submit-form .total {
    text-align: center;
    margin-bottom: 18px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
}

.submit-form .total span {
    font-weight: 500;
}

.submit-form form button {
    font-family: 'Montserrat';
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 290px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #040404;
    height: 41px;
    transition: all 1s;
}

.submit-form form button:hover {
    background-color: black;
    color: white;
}

.message {
    font-family: "Bahnschrift", sans-serif;
    background-color: mediumseagreen;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    color: white;
}

.message2 {
    font-family: "Bahnschrift", sans-serif;
    background-color: mediumseagreen;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    padding: 12px;
    color: white;
}

.product-page {
    margin-top: 12px;
    width: 85%;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}

.product-page .product-page-image {
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-page .product-page-info {
    display: flex;
    flex: 1;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-page .product-page-info .product-name {
    font-size: 34px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
}

.product-page .product-page-info .product-description {
    font-size: 22px;
    font-weight: 200;
    line-height: 29px;
    letter-spacing: 0px;
}

.product-page .product-page-info .product-price {
    font-size: 30px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
}

.add-to-cart {
    border-radius: 4px;
    cursor: pointer;
    background-color: steelblue;
    color: white;
    padding: 10px 14px;
}

table {
    margin-top: 12px;
    width: 85%;
    text-align: center;
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: transparent;
}

table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.order-details {
    cursor: pointer;
}

.empty-image {
    background-color: transparent;
}

table th, td {
    padding: 10px;
}

.empty-image-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.search-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.search-container input[type=text] {
    background-color: transparent;
    position: relative;
    padding: 15px 40px 15px 20px;
    width: 20px;
    color: #525252;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    transition: width 0.4s ease;
    outline: none;

    &:focus {
        width: 300px;
    }
}

.search-container svg {
    position: relative;
    left: -37px;
}

.admin-container {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 85%;
    height: 100%;
    user-select: none;
}

.admin-container:has(> .content-container) {
    height: max-content;
}

.admin-container .content-container{
    border-right: 1px solid rgba(0,0,0,0.2);
    flex:1;
    padding-right: 10px ;
    height: max-content;
}
.admin-container .content-container .sort-button{
    right: 10px;
    margin-top: 32px;
}

.admin-container .admin-navbar{
    width: 180px;
    display: flex;
    gap: 10px;
    padding-top: 20%;
    flex-direction: column;
    align-items: center;
}

.admin-container .orders-container {
    flex :1;
    border-right: 1px solid rgba(0,0,0,0.2);
    height: 100%;
}
.admin-container .orders-container table {
    width: 100%;
}

.admin-container a{
    background-color: steelblue;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 10px;
    color: white;
}

.add-product-container {
    flex : 1;
    border-right: 1px solid rgba(0,0,0,0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-product-container form {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    width: 400px;
    flex-direction: column;
    gap : 14px;
    justify-content: center;
    align-items: center;
}

.add-product-container input,button {
    font-size: 22px;
    padding: 10px;
    border: 1px solid #888888;
    border-radius: 4px;
}

.add-product-container + .admin-navbar {
    padding-top: 0;
    justify-content: center;
}

.add-product-container button {
    background-color: steelblue;
    color: white;
    cursor : pointer;
}


.admin-container .product-page img {
    flex-grow: 0.5;
    align-items: center;
    justify-content: center;
}

.admin-container .product-page {
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.admin-container .product-page .product-price {
    display: flex;
    gap: 8px;
}

.admin-container .product-page input {
    font-size: 24px;
    padding-left: 4px;
    font-weight: 500;
    line-height: 29px;
    color: #050505;
    border: 1px solid #888888;
}

.no-result-image {
    height: 100px;
    opacity: 0.7;
}

.basketmsg {
    background-color: red;
    color: white;
    font-size: 18px;
}

.content-container .content-header {
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap : 10px;
}
